<script setup lang="ts">
import { ref, watch } from "vue";

const props = defineProps({
  val: { type: Number, required: true },
  rowNumber: { type: Number, required: true },
  colNumber: { type: Number, required: true },
});

let changeColor = ref(false);
watch(
  () => props.val,
  (newValue, oldValue) => {
    changeColor.value = true;
    setTimeout(() => {
      changeColor.value = false;
    }, 2000);
  }
);

const emit = defineEmits(["cellClick"]);

const onCellClick = () => {
  emit("cellClick", props.rowNumber, props.colNumber);
};
</script>
<template>
  <div
    class="grid-cell"
    :class="
      changeColor
        ? 'grid-cell__value--color--yellow'
        : 'grid-cell__value--color-deafult'
    "
    @click="onCellClick"
  >
    <div class="grid-cell__value" :data-row="rowNumber" :data-col="colNumber">
      {{ val ? val : nul }}
    </div>
  </div>
</template>

<style scoped lang="scss">
.grid-cell__value--color-deafult {
  background: white;
  transition: 0.5s linear all;
}
.grid-cell__value--color--yellow {
  background: yellow;
  transition: 0.5s linear all;
}
.grid-cell {
  border: 1px solid black;
  text-align: center;
}
</style>
