<script setup>
import { onMounted, ref } from "vue";
import populateGrid from "@/utils/populateGrid.ts";
import GridCell from "./GridCell.vue";
import fibonacciChecker from "@/utils/fibonacciChecker.ts";

let gridData = ref([]);
onMounted(() => {
  gridData.value = populateGrid();
});

const isFibonaciConsequitive = () => {
  let singleRowArray = [];
  for (let i = 0; i < 50; i++) {
    singleRowArray = gridData.value.map((row) => row[i]);
    const fibSequenceIndex = fibonacciChecker(singleRowArray);
    console.log(i, fibSequenceIndex);
    if (fibSequenceIndex !== -1) {
      clearFibCells(i, fibSequenceIndex);
    }
  }
};

const clearFibCells = (row, col) => {
  let i = 0;
  while (i < 5) {
    gridData.value[col + i][row] = 0;
    i++;
  }
};

const incrementTableValues = (row, col) => {
  for (let i = 0; i < 50; i++) {
    for (let j = 0; j < 50; j++) {
      if (j === row) {
        gridData.value[i][j]++;
      } else {
        if (i === col) gridData.value[i][j]++;
      }
    }
  }

  /*
* Give the user sometime to see the result of the previous operation
before checking for consequitive fib. numbers
* */
  setTimeout(() => {
    isFibonaciConsequitive();
  }, 2000);
};
</script>
<template>
  <div class="grid-table" v-if="gridData.length > 0">
    <div
      class="grid-table__column"
      v-for="(col, xAxis) in gridData"
      :key="xAxis"
    >
      <div class="grid-table__row" v-for="(row, yAxis) in col" :key="yAxis">
        <GridCell
          @cell-click="incrementTableValues"
          :val="row"
          :row-number="yAxis"
          :col-number="xAxis"
          class="grid-table__cell"
        />
      </div>
    </div>
  </div>
</template>

<style scoped>
.grid-table {
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(50, 1fr);
  width: 100%;
}
.grid-table__cell {
  height: 26px;
  width: 26px;
}
</style>
